/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";

 body {
  background-image: image-url("../images/hoge.jpg");

 }

.notification:not(:last-child){
        margin-bottom: 0;
}

.profile_image {
 border-radius: 50%;
}

.main-image {
	height: 940px;
	background-image: url(meal.png);
	background-repeat: no-repeat;
	background-size: contain;
}

.background_test {
    background: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
}

body {
  min-height: 100vh;
  color: white;
  background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
  font-family: sans-serif;
}